.Button{
    padding:10px !important;
    background-color:#e3fff9 !important;
    color:#000 !important; 
    font-Size:20px !important;
    font-weight:700 !important;
    border-radius:25x !important;
}